<div class="d-flex flex-column footer">
    <div class=" contact d-flex flex-wrap">
    <a href="mailto:daniel.aldanabe@gmail.com" class="mail option">
      <span
        class="iconify"
        data-icon="ant-design:mail-filled"
        data-inline="false"
      ></span>
      <div class="d-flex flex-wrap" style="justify-content: center">
        <p>daniel.aldanabe@</p>
        <p>gmail.com</p>
      </div>
    </a>
    <a href="https://wa.me/573505696966" class="whatsapp option">
      <span
        class="iconify"
        data-icon="fa-brands:whatsapp-square"
        data-inline="false"
      ></span>
      <p>3505696966</p>
    </a>
    <a
      href="https://www.linkedin.com/in/daniel-aldana-bejarano-b45a18127/"
      class="linkedin option"
    >
      <span class="iconify" data-icon="bi:linkedin" data-inline="false"></span>
      <p>LinkedIn</p>
    </a>
    </div>
    <div class="text-center">
      <p>Elaborada por Daniel Aldana Bejarano</p>
      <p>Todos los derechos reservados ©</p>
      <p>2021</p>
    </div>
</div>
