
  <div id="achievmentsCard" class="card">
    <span class="iconify" data-icon="mdi:certificate" data-inline="false"></span>
    <div id="bodyCard" class="d-flex flex-column">
      <div class="txt d-flex flex-column">
        <h5>Reconocimiento Ministerio de Educación Nacional Prueba Saber Pro 2014</h5>
        <h6>Ministerio de Educación Nacional de Colombia | Universidad Nacional de Colombia</h6>
        <h6 style="border: none"> | 2014 |</h6>
        <p>
          Reconocimiento otorgado por el Ministerio de Educación Nacional de
          Colombia y la Universidad Nacional de Colombia, con resolución No. 19806
          del 02 de diciembre de 2015, por obtener uno de los mejores puntajes en el
          Examen de Estado de Calidad de la Educación Superior realizado en el año
          2014.
        </p>
      </div>
      <div class="txt d-flex flex-column">
        <h5>Beca Misión TIC 2022</h5>
        <h6>Ministerio de Tecnologías de la Información y las Comunicaciones</h6>
        <h6 style="border: none"> 03-05-2021 | Actualmente </h6>
        <p>
          Beca para certificación en lenguajes de programación Phyton, Java y una especialización en web o móvil. Actualmente superado el componente Phyton. El programa finaliza en diciembre de 2021.
        </p>
      </div>                   
    </div>     
  </div>