.profile {        
    left: 0;  
    top: 0;     
    height: 100vh;
    width: 80%;
    color:whitesmoke;     
    text-align: center;    
}

img {
    margin: 5vh;
    width: 10vh;
    border-radius: 40%;
    box-shadow: 0px 0px 10px rgb(255, 255, 255), 10px 10px 10px rgba(0, 0, 0, 0.06);
}

#contactBtn {
    background-color: rgb(53, 61, 97); 
    padding: 2vh;
    margin-bottom: 0%;
    width: 100% !important;
}

.option {
    vertical-align: middle;
    margin: 0.5vh;
    text-decoration: none;
    color: whitesmoke;
    justify-content: center;     
}

.mail:hover {
    background-color: #5a5a68;
    color: rgba(221, 132, 48, 0.781);
}

.whatsapp:hover {
    background-color: #5a5a68;
    color: rgba(35, 189, 73, 0.781);
}

.linkedin:hover {
    background-color: #5a5a68;
    color: rgba(57, 118, 211, 0.781);
}

p {
    margin: 5vh;  
}

.option:hover .whatsapp {
    color: rgba(57, 118, 211, 0.781);
}

.logic:hover {
    color: rgb(17, 65, 136);
}

.problem:hover {
    color: rgb(17, 126, 17);
}

.learn:hover {
    color: rgb(135, 51, 168);
}