<div class="d-flex flex-row" style="background: rgb(0,0,24);
background: linear-gradient(180deg, rgba(0,0,24,1) 0%,  rgb(31, 38, 65) 74%);">
  <div class="profile d-flex flex-column">
    <div class="img">
      <img
        src="https://i.ibb.co/SNZ5b3Q/Photo.jpg"
        alt="photo" 
      />
    </div>
    <div class="title">
      <h5 class="title">Daniel Alberto Aldana Bejarano</h5>
      <p class="text">Programador Full Stack Junior - Filósofo profesional</p>
    </div>
    <div class="data d-flex flex-column">
      <button id="contactBtn">CONTACTO</button>
        <a href="mailto:daniel.aldanabe@gmail.com" class="mail option">
          <span
            class="iconify"
            data-icon="ant-design:mail-filled"
            data-inline="false"
          ></span>
          <div class="d-flex flex-wrap" style="justify-content: center">
            <p>daniel.aldanabe@</p>
            <p>gmail.com</p>
          </div>
        </a>
      <a href="https://wa.me/573505696966" class="whatsapp option">
        <span
          class="iconify"
          data-icon="fa-brands:whatsapp-square"
          data-inline="false"
        ></span>
        <p>3505696966</p>
      </a>
      <a
        href="https://www.linkedin.com/in/daniel-aldana-bejarano-b45a18127/"
        class="linkedin option"
      >
        <span class="iconify" data-icon="bi:linkedin" data-inline="false"></span>
        <p>LinkedIn</p>
      </a>  
      <div class="skills">
        <button id="contactBtn">HABILIDADES</button>
        <div class="logic skill">
          <span
            class="iconify"
            data-icon="fluent:brain-circuit-20-filled"
            data-inline="false"
          ></span>
          <p>Pensamiento lógico</p>
        </div>
        <div class="problem skill">
          <span
            class="iconify"
            data-icon="ion:extension-puzzle"
            data-inline="false"
          ></span>
          <p>Resolución de problemas</p>
        </div>
        <div class="learn skill">
          <span
            class="iconify"
            data-icon="dashicons:welcome-learn-more"
            data-inline="false"
          ></span>
          <p>Aprendizaje Rápido</p>
        </div>
      </div>
    </div>
  </div>  
</div>
