<div class="d-flex flex-column">  
  <div id="eduCard" class="card">
    <span class="iconify" data-icon="mdi:school" data-inline="false"></span>
    <div id="bodyCard" class="d-flex flex-column">
      <div class="txt d-flex flex-column">                   
        <h5>Fundamentos de Programación en Python</h5>
        <h6>Universidad Industrial de Santander UIS (MinTic)</h6>
        <p style="border: none;">03-05-2021 | 11-06-2021</p>            
      </div>
      <div class="txt d-flex flex-column">
        <h5>Diplomado en lenguajes de programación Backend</h5>
        <h6>Corporación de educación tecnológica COLSUBSIDIO - AIRBUS GROUP</h6>
        <p style="border: none;">2021-03-18 | 2021-05-11</p>   
      </div>
      <div class="txt d-flex flex-column">
        <h5>Diplomado en lenguajes de programación Fronted</h5>           
        <h6>Corporación de educación tecnológica COLSUBSIDIO - AIRBUS GROUP</h6>
        <p style="border: none;">2021-01-26 | 2021-03-15</p>
      </div>
      <div class="txt d-flex flex-column">
        <h5>Profesional en Filosofía</h5>
        <h6>Universidad Nacional de Colombia - Sede Bogotá</h6>
        <p style="border: none;">Agosto 2010 | Julio 2015</p>
      </div>
    </div>     
  </div>
</div>