<h1>Proyectos</h1>
<div class="d-flex flex-wrap justify-content-center">
  <div class="card m-5" style="max-width: 540px">
    <a href="http://">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://i.ibb.co/2Ytxmd0/Vaca-final-png.png" alt="..."/>
        </div>
        <div class="col-md-8 d-flex flex-column">
          <div class="card-body">
            <h5 class="card-title">Tienda UFO</h5>
            <p class="card-text">
              UFO Collections es una empresa dedicada a elaboración y
              comercialización de productos con piezas artísticas únicas,
              exclusivas y originales a partir de una visión específica del
              mundo: los temas desconocidos (Unknown), anormales (Freak) y
              obscuros (Obscure).
            </p>
            <p class="card-text">
              <small class="text-muted">Rol: Programador</small>
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="card m-5" style="max-width: 540px">
    <a href="https://what.ecclesia.is">
        <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://i.ibb.co/s9r6sSV/color-completo-vertical-02.png"
                alt="..."
              />
            </div>
            <div class="col-md-8 card-body">
              <h5 class="card-title">Ecclesia</h5>
              <p class="card-text">
                Ecclesia es una plataforma de gestión de asambleas virtuales que
                organiza la comunicación de grupos grandes de trabajo y espacios de
                discusión para crear informes, consensos y acuerdos grupales de manera
                operativa.
              </p>
              <p class="card-text">
                <small class="text-muted"
                  >Roles: CMO, Product Owner, Business analyst</small
                >
              </p>
            </div>
          </div>
        </a>
    
  </div>
  <div class="card m-5" style="max-width: 540px">
    <a href="https://imaohd.github.io/hachikoGuarderia/">
        <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://imaohd.github.io/hachikoGuarderia/images/hachikoLogo.svg"
                alt="..."
              />
            </div>
            <div class="col-md-8 card-body">
              <h5 class="card-title">Hachiko Guarderías</h5>
              <p class="card-text">
                Hachiko Guarderías es una agencia especializada en ofrecer servicios de
                cuidado de mascotas, guardería, alimentos y servicios de veterinaria.
                Sus servicios están dirigidos especialmente para perros, gatos pero en
                general abarcar todo tipo de mascota.
              </p>
              <p class="card-text">
                <small class="text-muted">Roles: Desarrollador, Product Owner</small>
              </p>
            </div>
          </div>
        </a>
  </div>
</div>

