<div class="d-flex flex-column">
  <div id="skillsCard" class="card">
    <span class="iconify" data-icon="mdi:head-lightbulb-outline" data-inline="false"></span>
    <div id="bodyCard" class="d-flex flex-column">
      <div class="txt d-flex flex-column">
        <h5>CMO/Product Owner/Business Analyst</h5>
        <h6>Ecclesia</h6>
        <h6 style="border: none">Febrero 2020 | Actualmente</h6>
        <p>
          Diseñar las características de la aplicación Ecclesia para su
          Desarrollo por parte del equipo de software. Tester. Diseño y aplicación
          estrategias de mercado. Desarrollar los textos requeridos para la
          aplicación. Diseño de la página web <a href="https://what.ecclesia.is">what.ecclesia.is</a>
          y elaboración de sus contenidos.
        </p>           
    </div>
  </div>
</div>
