
  <div id="resumeCard" class="card">
    <span
    id="resumeIcon"
    class="iconify"
    data-icon="mdi:account-box-multiple"
    data-inline="false"
  ></span>
    <div id="bodyCard" class="d-flex flex-column">
      <div class="txt d-flex flex-column">                   
        Programador full stack junior, con experiencia como Product Owner, CMO,
    analista y consultor. Con grandes habilidades como pensamiento lógico,
    crítico, sistémico, manejo de lenguajes frontend y backend.           
      </div>
    </div>     
  </div>
