
  <div id="experienceCard" class="card">
    <span class="iconify" data-icon="mdi:tie" data-inline="false"></span>
    <div id="bodyCard">
      <div class="txt d-flex flex-column">
        <h5>CMO/Product Owner/Business Analyst</h5>
        <h6>Ecclesia</h6>
        <h6 style="border: none">Febrero 2020 | Actualmente</h6>
        <p>
          Diseñar las características de la aplicación Ecclesia para su
          Desarrollo por parte del equipo de software. Tester. Diseño y aplicación
          estrategias de mercado. Desarrollar los textos requeridos para la
          aplicación. Diseño de la página web <a href="https://what.ecclesia.is">what.ecclesia.is</a>
          y elaboración de sus contenidos.
        </p>
      </div>
      <div class="txt d-flex flex-column">
        <h5>Redactor/Investigador/Capacitador/Experto en comunicación</h5>
        <h6>Registro Nacional de Avaluadores (RNA)</h6>
        <h6 style="border: none"> 02-02-2018 | 15-03-2020</h6>
        <p>
          Escritura de documentos técnicos, criterios de 
calificación y procesos de certificación de profesionales en las habilidades de argumentación, comunicación escrita y comunicación oral.
        </p>
      </div>
      <div class="txt d-flex flex-column">
        <h5>Conferencista Experto en Argumentación, Comunicación Oral y Escrita</h5>
        <h6>Lonjas de Propiedad Raíz de Bogotá, Medellín, Ibagué, Pereira</h6>
        <h6 style="border: none">Junio 2019 | Octubre 2019 </h6>
        <p>
          Realización de la conferencia Módulo sobre argumentación para valuadores  para la obtención de la Certificación en avalúos de intangibles especiales del Registro Nacional de Avaluadores. 
        </p>
      </div>
      <div class="txt d-flex flex-column">
        <h5>Monitor y codificador de pruebas de Comunicación Escrita
        </h5>
        <h6>Instituto Colombiano para la Evaluación de la experiencecación Superior ICFES</h6>
        <h6 style="border: none">2015 | 2019</h6>
        <p>
          Diseñar las características de la aplicación Ecclesia para su
          Desarrollo por parte del equipo de software. Tester. Diseño y aplicación
          estrategias de mercado. Desarrollar los textos requeridos para la
          aplicación. Diseño de la página web <a href="https://what.ecclesia.is">what.ecclesia.is</a>
          y elaboración de sus contenidos.
        </p>
      </div>
    </div>     
  </div>