.btnMenu {   
    height: 20vh;
    max-width: 5vh;    
    color: whitesmoke;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    background-color: #353d61;   
}

.resBtnOn {
    color: whitesmoke;
    background-color: rgb(202, 44, 92);
}
#resumeBtn:hover {
    background-color: rgb(202, 44, 92);
}

.eduBtnOn {
    background-color: rgb(32, 145, 173);
}
#eduBtn:hover {
    background-color: rgb(32, 145, 173);
}

.expBtnOn {
    background-color: purple;
}
#experienceBtn:hover {
    background-color: purple;
}

.achBtnOn {
    background-color: rgb(187, 177, 37);
}
#achievmentsBtn:hover {
    background-color: rgb(187, 177, 37);
}

.sklBtnOn {
    background-color: rgb(123, 89, 187);
}
#skillsBtn:hover {
    background-color: rgb(123, 89, 187);
}