<div id="buttonsContainer" class="d-flex flex-column">
    <button id="resumeBtn" class="btnMenu">
      <p style="writing-mode: vertical-rl; margin: 0%; font-size: x-small">PERFIL PROFESIONAL</p>
    </button>
    <button id="eduBtn" class="btnMenu">
      <p style="writing-mode: vertical-rl; margin: 0%; font-size: x-small">EDUCACIÓN</p>
    </button>    
    <button id="experienceBtn" class="btnMenu">
      <p style="writing-mode: vertical-rl; margin: 0%; font-size: x-small">EXPERIENCIA</p>
    </button>    
    <button id="achievmentsBtn" class="btnMenu">
      <p style="writing-mode: vertical-rl; margin: 0%; font-size: x-small">LOGROS</p>
    </button>
    <button id="skillsBtn" class="btnMenu">
      <p style="writing-mode: vertical-rl; margin: 0%; font-size: x-small">HABILIDADES</p>
    </button>
  </div>
